@font-face {
  font-family: "Spoqa Han Sans";
  src: url("/path/to/spoqa-han-sans.woff2") format("woff2"),
    url("/path/to/spoqa-han-sans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .triangle {
    @apply w-0 h-0 border-l-[7px] border-r-[7px] border-b-[14px] border-transparent border-solid border-b-blue-800;
  }
}

#__next {
  height: 100%;
}
