@font-face {
  font-family: "NotoMedium"; /* 변경된 폰트 이름 */
  src: url("../fonts/NotoSansKR-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKRMedium"; /* 변경된 폰트 이름 */
  src: url("../fonts/NotoSansKR-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKRThin"; /* 변경된 폰트 이름 */
  src: url("../fonts/NotoSansKR-Thin.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AritaBold"; /* 변경된 폰트 이름 */
  src: url("../fonts/AritaBold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AritaMedium"; /* 변경된 폰트 이름 */
  src: url("../fonts/AritaMedium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AritaSemiBold"; /* 변경된 폰트 이름 */
  src: url("../fonts/AritaSemiBold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AritaThin"; /* 변경된 폰트 이름 */
  src: url("../fonts/AritaThin.otf");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .triangle {
    @apply w-0 h-0 border-l-[7px] border-r-[7px] border-b-[14px] border-transparent border-solid border-b-mainColor3;
  }
}

#__next {
  height: 100%;
}
