@font-face {
  font-family: "Spoqa Han Sans";
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .triangle {
    @apply w-0 h-0 border-l-[7px] border-r-[7px] border-b-[14px] border-transparent border-solid border-b-darkCyan;
  }
}

#__next {
  height: 100%;
}
